{% extends 'base.html' %}
{% block base %}
    <div class="ainews">
        <div style="padding-top: 150px; width: 80%; display: flex; justify-content: center; text-align: center;">
        <div class="contact-right" style="z-index: 1;">
        <form action='/resubscribe' method="POST" class="form">
        <H2>YOU HAVE BEEN UNSUBSCRIBED SUCCESSFULLY</H2>
        <h3 style="padding-top: 20px;">WANT TO RESUBSCRIBE?</h3>
        <button type="submit" class="nav-button see-more resume-btn">Go to the page</button>
    </form>
    </div>
</div>
</div>
{% endblock base %}