<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shubham Rane</title>
    <link rel="stylesheet" href="static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/4080765072.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body class="star-container">
<div class="ainews">
    <div class="container" style="padding-top: 150px;">
        <div class="contact-right">
            <form action='/' method="POST" class="form">
                <h1 class="sub-title">The Razor News</h1>
                <p><i class="fa fa-laptop"></i>The AI News is delivered to you every day at 10 a.m.</p>
                <input type="text" class="name" name="name" placeholder="Your Name" required>
                <input type="email" class="email" name="email" placeholder="Your Email" required>
                <button type="submit" class="nav-button see-more resume-btn">Get News</button>
            </form>
        </div>
    </div>
</div>
<script src="static/script.js"></script>
</body>
</html>