{% extends 'base.html' %}
{% block base %}
<div class="ainews">
    <div class="container" style="padding-top: 150px;">
        <div class="contact-right">
            <form action='/' method="POST" class="form">
                <h1 class="sub-title">The Razor News</h1>
                <p><i class="fa fa-laptop"></i>The AI News is delivered to you every day at 10 a.m.</p>
                <input type="text" class="name" name="name" placeholder="Your Name" required>
                <input type="email" class="email" name="email" placeholder="Your Email" required>
                <button type="submit" class="nav-button see-more resume-btn">Get News</button>
            </form>
        </div>
    </div>
</div>
    
{% endblock base %}