<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shubham Rane</title>
    <link rel="stylesheet" href="static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/4080765072.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body class="star-container">
<div class="ainews">
    <div style="padding-top: 150px; width: 80%; display: flex; justify-content: center; text-align: center;">
<div class="contact-right" style="z-index: 1;">
<form action='/unsubscribe' method="POST" class="form">
    <h3 class="sub-title">Unsubscribe: The Razor News</h3>
    <input type="email" class="email" name="email" placeholder="Your Email" required>
    <button type="submit" class="nav-button see-more resume-btn">Unsubscribe</button>
</form>
</div>
</div>
</div>
<script src="static/script.js"></script>
</body>
</html>